body {
    margin: 0;
    background-color: black;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

label {
    display: flex;
    align-items: center;
    gap: 1rem;
}
